{{ form_start(form) }}
    {{ form_row(form.name, {'attr' : {'class': 'form-control my-3'}}) }}
    {{ form_row(form.ordering, {'attr' : {'class': 'form-control my-3'}}) }}
    {{ form_row(form.id_parent, {'attr' : {'class': 'form-control my-3'}}) }}


<button class="btn" style="display:inline;margin-top:15px;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
