{{ form_start(form, {'attr': {'class': 'form'}}) }}
<div class="row">
	<div class="col-12">
		<label>
			Nom de l'utilisateur
			<span style="color: #ff2c18;">*</span>
		</label>
		{{ form_row(form.name, {'attr' : {'class': 'form-control my-3'}}) }}
	</div>
	<div class="col-12">
		<label>
			Rôles de l'utilisateur
			<span style="color: #ff2c18;">*</span>
		</label>
		{{ form_row(form.roles, {'attr' : {'class': 'my-3 d-flex align-items-center'}}) }}
	</div>
	<div class="col-12">
		<label>
			Mail de l'utilisateur
			<span style="color: #ff2c18;">*</span>
		</label>
		{{ form_row(form.email, {'attr' : {'class': 'form-control my-3'}}) }}
	</div>
	<div class="col-12">
		<label>
			Mot de passe de l'utilisateur
			<span style="color: #ff2c18;">*</span>
		</label>
		{{ form_row(form.password, {'attr' : {'class': 'form-control my-3'}}) }}
	</div>
	<div class="col-6 mx-auto">
		<div class="form-group button">
			{{ form_row(form.save, {'attr': {'class': 'form-control btn btn-primary py-3 px-5'}}) }}
		</div>
	</div>
</div>
{{ form_end(form) }}
