{% extends 'base.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block body %}
	<div class="container my-5">

		<h1>{{ carousel.Title }}</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ carousel.id }}</td>
				</tr>
				<tr>
					<th>Title</th>
					<td>{{ carousel.Title }}</td>
				</tr>
				<tr>
					<th>Image</th>
					<td>{{ carousel.image }}</td>
				</tr>
				<tr>
					<th>Ordering</th>
					<td>{{ carousel.ordering }}</td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex flex-column">
			<a href="{{ path('crud_carousel_edit', {'id': carousel.id}) }}" class="btn w-25">Editer</a>
			<a href="{{ path('crud_carousel_index') }}">Retourner à la liste</a>
		</div>
	</div>
{% endblock %}
