{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	{% set categories = app.session.get('categories') %}

	<section class="product-area shop-sidebar shop section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-12">
					<div
						class="shop-sidebar">
						<!-- Single Widget -->
						<div class="single-widget category">
							<h3 class="title">Categories</h3>
							<ul class="categor-list">
								{% if category %}
									{% set url = app.request.attributes.get('_route_params') %}
									{% if url|length > 1 %}
										<li>
											<a href="/produits/{{url['category']}}" class="font-weight-bold">{{url['category']}}</a>
										</li>
									{% else %}
										<li>
											<a href="{{path('produits')}}">
												<span>retour</span>
											</a>
										</li>
									{% endif %}
									<li class="pl-2">
										<span>{{category[0].name}}</span>
									</li>
									{% for child in categoryRepo.getChild(category) %}
										{% set cat = category[0] %}
										<li class="pl-4">
											<a href="{{ path('produits_category_child', {'category' : cat.name, 'child' : child.name })}}">{{ child.name }}</a>
										</li>
									{% endfor %}
								{% else %}
									{% for category in categories %}
										<li>
											<a href="{{ path('produits_category', {'category' : category.name })}}">{{ category.name }}</a>
										</li>
									{% endfor %}
								{% endif %}


							</ul>
						</div>
						<!--/ End Single Widget -->
						<!-- Shop By Price -->
						<div class="single-widget range">
							<h3 class="title">Shop by Price</h3>
							<div class="price-filter">
								<div class="price-filter-inner">
									<div id="slider-range"></div>
									<div class="price_slider_amount">
										<div class="label-input">
											<span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price"/>
										</div>
									</div>
								</div>
							</div>
							<ul class="check-box-list">
								<li>
									<label class="checkbox-inline" for="1"><input name="news" id="1" type="checkbox">$20 - $50<span class="count">(3)</span>
									</label>
								</li>
								<li>
									<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">$50 - $100<span class="count">(5)</span>
									</label>
								</li>
								<li>
									<label class="checkbox-inline" for="3"><input name="news" id="3" type="checkbox">$100 - $250<span class="count">(8)</span>
									</label>
								</li>
							</ul>
						</div>
						<!--/ End Shop By Price -->
						<!-- Single Widget -->
						<div class="single-widget category">
							<h3 class="title">Manufacturers</h3>
							<ul class="categor-list">
								<li>
									<a href="#">Forever</a>
								</li>
								<li>
									<a href="#">giordano</a>
								</li>
								<li>
									<a href="#">abercrombie</a>
								</li>
								<li>
									<a href="#">ecko united</a>
								</li>
								<li>
									<a href="#">zara</a>
								</li>
							</ul>
						</div>
						<!--/ End Single Widget -->
					</div>
				</div>
				<div class="col-lg-9 col-md-8 col-12">
					{% if products %}
						{% include "product/productByDefault.html.twig" %}
					{% endif %}
						{% include "product/productByCategory.html.twig" with {'category' : category } %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
