{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<section class="shop single section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div
							class="col-lg-6 col-12">
							<!-- Product Slider -->
							<div
								class="product-gallery">
								<!-- Images slider -->
								<div class="flexslider-thumbnails">
									<ul class="slides">
										<li data-thumb="{{ asset('uploads/' ~ product.image ) }}" rel="adjustX:10, adjustY:">
											<img src="{{ asset('uploads/' ~ product.image ) }}" alt="{{ product.name }}">
										</li>
										<li data-thumb="https://via.placeholder.com/570x520">
											<img src="https://via.placeholder.com/570x520" alt="{{ product.name }}">
										</li>
										<li data-thumb="https://via.placeholder.com/570x520">
											<img src="https://via.placeholder.com/570x520" alt="{{ product.name }}">
										</li>
										<li data-thumb="https://via.placeholder.com/570x520">
											<img src="https://via.placeholder.com/570x520" alt="{{ product.name }}">
										</li>
									</ul>
								</div>
								<!-- End Images slider -->
							</div>
							<!-- End Product slider -->
						</div>
						<div class="col-lg-6 col-12">
							<div
								class="product-des">
								<!-- Description -->
								<div class="short">
									<h4>{{ product.name }}</h4>
									<div class="rating-main">
										<ul class="rating">
											<li>
												<i class="fa fa-star"></i>
											</li>
											<li>
												<i class="fa fa-star"></i>
											</li>
											<li>
												<i class="fa fa-star"></i>
											</li>
											<li>
												<i class="fa fa-star-half-o"></i>
											</li>
											<li class="dark">
												<i class="fa fa-star-o"></i>
											</li>
										</ul>
										<a href="#" class="total-review">(102) Review</a>
									</div>
									<p
										class="price">
										{# TODO reduction #}
										<span class="discount">{{ product.price }}
											€</span>
										{# <s>$80.00</s> #}
									</p>
									<p class="description">{{ product.description }}</p>
								</div>
								<!--/ End Description -->
								<!-- Product Buy -->
								{{ form_start(form, {'attr': {'class': 'product-buy'}}) }}
								<div class="form-group">
									{{ form_label(form.quantity) }}
									{{ form_widget(form.quantity, {'attr': {'class': 'form-control quantity' ~ (form.quantity.vars.valid ? '' : 'is-invalid')}}) }}
									<div class="invalid-feedback">
										{{ form_errors(form.quantity) }}
									</div>
								</div>
								{{ form_widget(form.add, {'attr': {'class': 'btn'}, 'label': 'Ajouter au panier'}) }}
								{{ form_end(form) }}

								<!--/ End Product Buy -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="product-info">
								<div
									class="nav-main">
									<!-- Tab Nav -->
									<ul class="nav nav-tabs" id="myTab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
										</li>
									</ul>
									<!--/ End Tab Nav -->
								</div>
								<div
									class="tab-content" id="myTabContent">
									<!-- Description Tab -->
									<div class="tab-pane fade show active" id="description" role="tabpanel">
										<div class="tab-single">
											<div class="row">
												<div class="col-12">
													<div class="single-des">
														<p>{{ product.description }}</p>
													</div>
													<div class="single-des">
														<h4>Product Features:</h4>
														<ul>
															<li>long established fact.</li>
															<li>has a more-or-less normal distribution.
															</li>
															<li>lmany variations of passages of.
															</li>
															<li>generators on the Interne.</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--/ End Description Tab -->
								{# TODO Avis #}
									{# <!-- Reviews Tab -->
																																		<div class="tab-pane fade" id="reviews" role="tabpanel">
																																			<div class="tab-single review-panel">
																																				<div class="row">
																																					<div class="col-12">
																																						<div class="ratting-main">
																																							<div class="avg-ratting">
																																								<h4>4.5
																																									<span>(Overall)</span>
																																								</h4>
																																								<span>Based on 1 Comments</span>
																																							</div>
																																							<!-- Single Rating -->
																																							<div class="single-rating">
																																								<div class="rating-author">
																																									<img src="https://via.placeholder.com/200x200" alt="#">
																																								</div>
																																								<div class="rating-des">
																																									<h6>Naimur Rahman</h6>
																																									<div class="ratings">
																																										<ul class="rating">
																																											<li>
																																												<i class="fa fa-star"></i>
																																											</li>
																																											<li>
																																												<i class="fa fa-star"></i>
																																											</li>
																																											<li>
																																												<i class="fa fa-star"></i>
																																											</li>
																																											<li>
																																												<i class="fa fa-star-half-o"></i>
																																											</li>
																																											<li>
																																												<i class="fa fa-star-o"></i>
																																											</li>
																																										</ul>
																																										<div class="rate-count">(<span>3.5</span>)</div>
																																									</div>
																																									<p>Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor, in imperdiet.</p>
																																								</div>
																																							</div>
																																							<!--/ End Single Rating -->
																																							<!-- Single Rating -->
																																							<div class="single-rating">
																																								<div class="rating-author">
																																									<img src="https://via.placeholder.com/200x200" alt="#">
																																								</div>
																																								<div class="rating-des">
																																									<h6>Advin Geri</h6>
																																									<div class="ratings">
																																										<ul class="rating">
																																											<li>
																																												<i class="fa fa-star"></i>
																																											</li>
																																											<li>
																																												<i class="fa fa-star"></i>
																																											</li>
																																											<li>
																																												<i class="fa fa-star"></i>
																																											</li>
																																											<li>
																																												<i class="fa fa-star"></i>
																																											</li>
																																											<li>
																																												<i class="fa fa-star"></i>
																																											</li>
																																										</ul>
																																										<div class="rate-count">(<span>5.0</span>)</div>
																																									</div>
																																									<p>Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor, in imperdiet.</p>
																																								</div>
																																							</div>
																																							<!--/ End Single Rating -->
																																						</div>
																																						<!-- Review -->
																																						<div class="comment-review">
																																							<div class="add-review">
																																								<h5>Add A Review</h5>
																																								<p>Your email address will not be published. Required fields are marked</p>
																																							</div>
																																							<h4>Your Rating</h4>
																																							<div class="review-inner">
																																								<div class="ratings">
																																									<ul class="rating">
																																										<li>
																																											<i class="fa fa-star"></i>
																																										</li>
																																										<li>
																																											<i class="fa fa-star"></i>
																																										</li>
																																										<li>
																																											<i class="fa fa-star"></i>
																																										</li>
																																										<li>
																																											<i class="fa fa-star"></i>
																																										</li>
																																										<li>
																																											<i class="fa fa-star"></i>
																																										</li>
																																									</ul>
																																								</div>
																																							</div>
																																						</div>
																																						<!--/ End Review -->
																																						<!-- Form -->
																																						<form class="form" method="post" action="mail/mail.php">
																																							<div class="row">
																																								<div class="col-lg-6 col-12">
																																									<div class="form-group">
																																										<label>Your Name<span>*</span>
																																										</label>
																																										<input type="text" name="name" required="required" placeholder="">
																																									</div>
																																								</div>
																																								<div class="col-lg-6 col-12">
																																									<div class="form-group">
																																										<label>Your Email<span>*</span>
																																										</label>
																																										<input type="email" name="email" required="required" placeholder="">
																																									</div>
																																								</div>
																																								<div class="col-lg-12 col-12">
																																									<div class="form-group">
																																										<label>Write a review<span>*</span>
																																										</label>
																																										<textarea name="message" rows="6" placeholder=""></textarea>
																																									</div>
																																								</div>
																																								<div class="col-lg-12 col-12">
																																									<div class="form-group button5">
																																										<button type="submit" class="btn">Submit</button>
																																									</div>
																																								</div>
																																							</div>
																																						</form>
																																						<!--/ End Form -->
																																					</div>
																																				</div>
																																			</div>
																																		</div>
																																		<!--/ End Reviews Tab --> #}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
