{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-3">
		<h1>Gestion des utilisateurs</h1>
		<a href="{{ path('crud_user_new') }}">Ajouter un utilisateur</a>
		<table class="table">
			<thead class="sticky-top text-white" style=" background: #333; top: 50px;">
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Name</th>
					<th class="text-center">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.name }}</td>
						<td class="d-flex flex-column">
							<a href="{{ path('crud_user_show', {'id': user.id}) }}" class="btn">Voir</a>
							<a href="{{ path('crud_user_edit', {'id': user.id}) }}" class="btn">Editer</a>
							{{ include('crud_user/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
