<!-- Header -->
<header
	class="header shop v3">
	<!-- Topbar -->
	<div class="topbar">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-5 col-md-12 col-12">
					<!-- Top Left -->
					<div class="top-left">
						<ul class="list-main">
							<li>
								<i class="ti-email"></i>
								contact@nimesaleries.com</li>
						</ul>
					</div>
					<!--/ End Top Left -->
				</div>
				<div
					class="col-lg-7 col-md-12 col-12">
					<!-- Top Right. -->
					<div class="right-content">
						<ul class="list-main">
							<li>
								<i class="ti-location-pin"></i>
								Nimes</li>
							<li>
								<i class="ti-alarm-clock"></i>
								<a href="#">Deals</a>
							</li>
							<li>
								<i class="ti-user"></i>
								<a href="{{path('account')}}">Mon compte</a>
							</li>
							{% if app.user %}
								<li>
									<i class="ti-power-off"></i>
									<a href="{{path('app_logout')}}">Se deconnecter</a>
								</li>
							{% else %}
								<li>
									<i class="ti-power-off"></i>
									<a href="{{path('app_login')}}">Se connecter</a>
								</li>
							{% endif %}

						</ul>
					</div>
					<!-- End Top Right -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Topbar -->
	<div class="middle-inner">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-2 col-md-2 col-12">
					<!-- Logo -->
					<div class="logo">
						<a href="{{ path('index')}}"><img src="{{ asset('/images/logo.png')}}" alt="logo"></a>
					</div>
					<!--/ End Logo -->
					<!-- Search Form -->
					<div class="search-top">
						<div class="top-search">
							<a href="#0">
								<i class="ti-search"></i>
							</a>
						</div>
						<!-- Search Form -->
						<div class="search-top">
							<form class="search-form" action="handleSearch" method="POST">
								<input type="text" placeholder="Rechercher ici ..." name="search">
								<button value="search" type="submit">
									<i class="ti-search"></i>
								</button>
							</form>
						</div>
						<!--/ End Search Form -->
					</div>
					<!--/ End Search Form -->
					<div class="mobile-nav"></div>
				</div>
				<div class="col-lg-8 col-md-7 col-12">
					<div class="search-bar-top">
						<div class="search-bar">
							<form action="handleSearch" method="POST">
								<input name="search" placeholder="Rechercher des produits ici ..." type="search">
								<button class="btnn" type="submit">
									<i class="ti-search"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-12">
					<div
						class="right-bar">
						<!-- Search Form -->
						<div class="sinlge-bar">
							<a href="#" class="single-icon">
								<i class="fa fa-heart-o" aria-hidden="true"></i>
							</a>
						</div>
						<div class="sinlge-bar">
							<a href="#" class="single-icon">
								<i class="fa fa-user-circle-o" aria-hidden="true"></i>
							</a>
						</div>
						{% set cart = (app.session.get('cart')) %}
						<div class="sinlge-bar shopping">
							<a href="{{path('cart')}}" class="single-icon">
								<i class="ti-bag"></i>
								<span class="total-count">{{cart.items.count}}</span>
							</a>
							<!-- Shopping Item -->
							<div class="shopping-item">
								<div class="dropdown-cart-header">
									<span>{{cart.items.count}}
										Produits</span>

									<a href="{{path('cart')}}">Voir panier</a>
								</div>
								<ul class="shopping-list">
									{% for item in cart.items %}
										<li>
											<a class="cart-img" href="#"><img src="{{ asset('uploads/' ~ item.product.image)}}" alt="#"></a>
											<h4>
												<a href="{{ path('produit_display', {'name': item.product.name }) }}">{{item.product.name}}</a>
											</h4>
											<p class="quantity">{{item.quantity}}x -

												<span class="amount">{{item.product.price}}
													€</span>
											</p>
										</li>
									{% endfor %}
								</ul>
								<div class="bottom">
									<div class="total">
										<span>Total</span>
										<span class="total-amount">{{cart.total}}
											€</span>
									</div>
									<a href="{{path('cart')}}" class="btn animate">Vérifier</a>

								</div>
							</div>
							<!--/ End Shopping Item -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- Header Inner --><div class="header-inner">
		<div class="container">
			<div class="cat-nav-head">
				<div class="row">
					<div class="col-12">

						{% include "inc/mainMenu.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div><!--/ End Header Inner --></header>
<!--/ End Header -->
